
.container {
  border: 1px solid #CCC;
  width: 800px;
  height: 600px;
}

.containerCanvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  pointer-events: none;
}

.dragHover {
	background-color: green;
}

.node {
	background-color: #E0E0E0;
  width: 100px;
  height: 100px;
}

.nodeTarget {
  border: 1px solid #CCC;
  width: 20px;
  height: 20px;
}

.branchHandle {
  border: 1px solid #CCC;
}

.branchHolder {
  position: absolute;
  top: 0;
  left: 0;
}
